OPENAI_API_KEY='you-api-key'

# You can change the base URL to your own API
# OPENAI_BASE_URL='https://YourAPI'

# Configure your models here.
MODEL_SMALL='gpt-4o-mini'                 # I'm using Llama 3.1 8B for this
MODEL_MEDIUM='gpt-4o'                     # I'm using Qwen 2.5 32B for this